#dragon{

position:absolute;

font-size:70px;

transition:2s;

animation:
fly 8s infinite;

}


.body{

filter:
drop-shadow(0 0 15px purple);

}


.wing{

width:60px;
height:35px;

background:
linear-gradient(
45deg,
#220033,
#b000ff
);

position:absolute;

animation:
flap .4s infinite alternate;

}


.left{

left:-40px;

}


.right{

right:-40px;

}


@keyframes flap{

from{

transform:
rotate(-20deg);

}

to{

transform:
rotate(30deg);

}

}



@keyframes fly{


0%{

transform:
translate(0,0);

}


25%{

transform:
translate(200px,-100px);

}


50%{

transform:
translate(-150px,100px);

}


75%{

transform:
translate(100px,150px);

}


100%{

transform:
translate(0,0);

}

}


#orb{

width:120px;

height:120px;

border-radius:50%;

background:
radial-gradient(
circle,
#ffffff,
#8b00ff,
#180022
);


box-shadow:
0 0 50px purple;


position:absolute;

bottom:30px;

left:50%;

}
